In [96]:
import pandas as pd

In [97]:
df = pd.read_csv("https://raw.githubusercontent.com/Idanlau/Cloudera_Hackathon/Word-Encoding/artist_fame.csv")
df

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,price,artist,fame,title,yearCreation,signed,condition,period,movement
0,0,0,0,28.500 USD,Tommaso Ottieri,0.0,Bayreuth Opera,2021,Signed on verso,This work is in excellent condition.,Contemporary,Baroque
1,1,1,1,3.000 USD,Pavel Tchelitchew,0.0,Drawings of the Opera,First Half 20th Century,Signed and titled,Not examined out of frame.No obvious signs of ...,Post-War,Surrealism
2,2,2,2,5.000 USD,Leo Gabin,98.0,Two on Sidewalk,2016,"Signed, titled and dated on verso",This work is in excellent condition.,Contemporary,Abstract
3,3,3,3,5.000 USD,Matthias Dornfeld,88.0,Blumenszene,2010,"Signed, titled and dated on the reverse with t...",This work is in excellent condition.There is m...,Contemporary,Abstract
4,4,4,4,2.500 USD,Alexis Marguerite Teplin,0.0,Feverish Embarkation,2001,Signed on verso,This work is in excellent condition.,Contemporary,Abstract
...,...,...,...,...,...,...,...,...,...,...,...,...
749,749,749,749,680 USD,Jane Kent,0.0,Miracle Grow #17,2012,Signed and dated on lower right.,Not examined out of frame.No obvious signs of ...,Contemporary,Abstract
750,750,750,750,1.275 USD,Gary Bower,0.0,Rolph Series,1970,[nan],Not examined out of frame.Significant undulati...,Contemporary,Geometric Abstraction
751,751,751,751,680 USD,Jane Kent,0.0,Untitled,2012,[nan],Not examined out of frame.No apparent imperfec...,Contemporary,Geometric Abstraction
752,752,752,752,1.275 USD,T. L. Solien,0.0,Juniper,1986,[nan],Not examined outside of frame.Pinholes at edge...,Contemporary,Abstract
753,753,753,753,680 USD,John Duff,0.0,Untitled Print,1975,"Signed, dated and numbered in pencil.",Not examined out of frame.Scattered surface sc...,Modern,Geometric Abstraction

In [98]:
movement_df = pd.get_dummies(df['movement'])
period_df = pd.get_dummies(df['period'])
movement_df.drop(columns='[nan]',inplace=True)
period_df.drop(columns='[nan]',inplace=True)

In [99]:
df.drop(columns='movement',inplace=True)
df.drop(columns='period',inplace=True)

In [100]:
df = df.join(movement_df)

In [101]:
df = df.join(period_df)

In [102]:
df

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,price,artist,fame,title,yearCreation,signed,condition,...,Realism,Romanticism,Social Realism,Street Art,Surrealism,Traditional,19th Century,Contemporary,Modern,Post-War
0,0,0,0,28.500 USD,Tommaso Ottieri,0.0,Bayreuth Opera,2021,Signed on verso,This work is in excellent condition.,...,0,0,0,0,0,0,0,1,0,0
1,1,1,1,3.000 USD,Pavel Tchelitchew,0.0,Drawings of the Opera,First Half 20th Century,Signed and titled,Not examined out of frame.No obvious signs of ...,...,0,0,0,0,1,0,0,0,0,1
2,2,2,2,5.000 USD,Leo Gabin,98.0,Two on Sidewalk,2016,"Signed, titled and dated on verso",This work is in excellent condition.,...,0,0,0,0,0,0,0,1,0,0
3,3,3,3,5.000 USD,Matthias Dornfeld,88.0,Blumenszene,2010,"Signed, titled and dated on the reverse with t...",This work is in excellent condition.There is m...,...,0,0,0,0,0,0,0,1,0,0
4,4,4,4,2.500 USD,Alexis Marguerite Teplin,0.0,Feverish Embarkation,2001,Signed on verso,This work is in excellent condition.,...,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
749,749,749,749,680 USD,Jane Kent,0.0,Miracle Grow #17,2012,Signed and dated on lower right.,Not examined out of frame.No obvious signs of ...,...,0,0,0,0,0,0,0,1,0,0
750,750,750,750,1.275 USD,Gary Bower,0.0,Rolph Series,1970,[nan],Not examined out of frame.Significant undulati...,...,0,0,0,0,0,0,0,1,0,0
751,751,751,751,680 USD,Jane Kent,0.0,Untitled,2012,[nan],Not examined out of frame.No apparent imperfec...,...,0,0,0,0,0,0,0,1,0,0
752,752,752,752,1.275 USD,T. L. Solien,0.0,Juniper,1986,[nan],Not examined outside of frame.Pinholes at edge...,...,0,0,0,0,0,0,0,1,0,0
753,753,753,753,680 USD,John Duff,0.0,Untitled Print,1975,"Signed, dated and numbered in pencil.",Not examined out of frame.Scattered surface sc...,...,0,0,0,0,0,0,0,0,1,0

In [103]:
df['yearCreation'] = pd.to_numeric(df['yearCreation'],errors = "coerce")
nan_count = df['yearCreation'].isna().sum().sum()
#print(nan_count) #104/753 = around 13.8 percent of data missing for years!
df['yearCreation'] = df['yearCreation'].fillna(df['yearCreation'].median()) #Fill it with the median, any better approaches?
df['yearCreation']

0      2021.0
1      1993.0
2      2016.0
3      2010.0
4      2001.0
        ...
749    2012.0
750    1970.0
751    2012.0
752    1986.0
753    1975.0
Name: yearCreation, Length: 754, dtype: float64

In [104]:
df['price'] = df['price'].str.replace("USD","") #Dropping the USD string so its just numbers
df['price'] = df['price'].str.replace(".","")
df['price'] = pd.to_numeric(df['price'])
df['price']

<ipython-input-104-675a8886b606>:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['price'] = df['price'].str.replace(".","")

0      28500
1       3000
2       5000
3       5000
4       2500
       ...
749      680
750     1275
751      680
752     1275
753      680
Name: price, Length: 754, dtype: int64

In [105]:
from sklearn.feature_extraction.text import CountVectorizer
vectorizer = CountVectorizer()
condition = vectorizer.fit_transform(df['condition'])
condition

<754x747 sparse matrix of type '<class 'numpy.int64'>'
	with 10768 stored elements in Compressed Sparse Row format>

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer
vectorizer2 = CountVectorizer()
signed = vectorizer2.fit_transform(df['signed'])
signed

In [ ]:
condition_labels = pd.DataFrame(condition.toarray(),columns=vectorizer.get_feature_names_out())
condition_labels.head(5)

In [ ]:
signed_labels = pd.DataFrame(signed.toarray(),columns=vectorizer2.get_feature_names())
signed_labels.head(5)

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer
vectorizer = TfidfVectorizer()
condition = vectorizer.fit_transform(df['condition'])
condition

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer
vectorizer2 = TfidfVectorizer()
signed = vectorizer2.fit_transform(df['signed'])
signed

In [ ]:
condition_labels = pd.DataFrame(condition.toarray(),columns=vectorizer.get_feature_names_out())
condition_labels

In [ ]:
df.drop(columns='signed',inplace=True)
df.drop(columns='condition',inplace=True)
df.drop(columns='artist',inplace=True)

In [ ]:
signed_labels = signed_labels.astype(int)
condition_labels = condition_labels.astype(int)

In [ ]:
df = df.join(condition_labels)

In [ ]:
df

In [ ]:
df = df.join(signed_labels,lsuffix="_left", rsuffix="_right", how='right')

In [ ]:
df = df.drop(df.columns[[0, 1, 2,5]],axis = 1)

In [ ]:
df

In [ ]:
from sklearn.model_selection import train_test_split

X = df.loc[:, ~df.columns.isin(['artist', 'title', 'signed','condition','title_left','price'])]
Y = df["price"]
X_train, X_test, y_train, y_test = train_test_split(X, Y,test_size=0.2)

In [ ]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import GridSearchCV,\
RandomizedSearchCV

def search_param():
  param_grid = {
      'n_estimators': [25, 50, 100, 150],
      'max_features': ['sqrt', 'log2', None],
      'max_depth': [10, 20, 30, 40],
      'max_leaf_nodes': [2, 10, 20 , 25],
  }


  regr = GridSearchCV(RandomForestRegressor(),
                            param_grid=param_grid)
  regr.fit(X_train, y_train)
  print(regr.best_estimator_)

# search_param()

In [ ]:
from sklearn.metrics import mean_absolute_error,mean_squared_error
import numpy as np
import statistics


regr = RandomForestRegressor(max_depth=20, random_state=0)

MAE_errors = []
null_errors = []

for i in range(1,11):
  X_train, X_test, y_train, y_test = train_test_split(X, Y,test_size=0.2)

  regr.fit(X_train,y_train)

  importances = regr.feature_importances_
  sorted_indices = np.argsort(importances)[::-1]

  feat_labels = df.columns[1:]
  print(y_test.mean())
  null_error = mean_absolute_error(y_test,np.full((151,), y_test.mean()))
  null_errors.append(null_error)
  print(f"Training Score trial {i}: ",regr.score(X_train,y_train))
  print(f"Testing Score trail {i}:",regr.score(X_test,y_test))
  MAE_error = mean_absolute_error(y_test,regr.predict(X_test))

  print(f"Testing Mean Absolute Error trail {i}: ", MAE_error)
  MAE_errors.append(MAE_error)
  for f in range(3):
    print("%2d) %-*s %f" % (f + 1, 5,
                              feat_labels[sorted_indices[f]],
                              importances[sorted_indices[f]]),"index: ",df.columns.get_loc(str(feat_labels[sorted_indices[f]])))
  print("\n")

print(MAE_errors)
print("MAE Error mean is " + str(statistics.mean(MAE_errors)))
print("MAE Error variance is " + str(statistics.variance(MAE_errors)))
print("\n")
print(null_errors)
print("Null Error mean using mean prediction is " + str(statistics.mean(null_errors)))
print("Null Error variance is " + str(statistics.variance(null_errors)))

In [ ]:
import scipy.stats
import math 
z_score = (statistics.mean(MAE_errors)-statistics.mean(null_errors))/math.sqrt(statistics.variance(null_errors))
p_val = scipy.stats.norm.sf(abs(z_score))
print(p_val)

In [ ]:
print(X.shape[1])

In [ ]:
import matplotlib.pyplot as plt
plt.plot(X['fame'],Y, 'ro')
plt.ylabel('some numbers')
plt.show()

In [ ]:
import matplotlib.pyplot as plt
plt.plot(X['occasional'],Y, 'ro')
plt.ylabel('some numbers')
plt.show()

In [ ]:
import matplotlib.pyplot as plt
plt.plot(X['yearCreation'],Y, 'ro')
plt.ylabel('some numbers')
plt.show()

In [ ]:
import matplotlib.pyplot as plt
plt.plot(X['Photorealism'],Y, 'ro')
plt.ylabel('some numbers')
plt.show()