In [ ]:
import pandas as pd

In [131]:
df = pd.read_csv("https://raw.githubusercontent.com/Idanlau/Cloudera_Hackathon/Word-Encoding/artist_fame.csv")
df

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,price,artist,fame,title,yearCreation,signed,condition,period,movement
0,0,0,0,28.500 USD,Tommaso Ottieri,0.0,Bayreuth Opera,2021,Signed on verso,This work is in excellent condition.,Contemporary,Baroque
1,1,1,1,3.000 USD,Pavel Tchelitchew,0.0,Drawings of the Opera,First Half 20th Century,Signed and titled,Not examined out of frame.No obvious signs of ...,Post-War,Surrealism
2,2,2,2,5.000 USD,Leo Gabin,98.0,Two on Sidewalk,2016,"Signed, titled and dated on verso",This work is in excellent condition.,Contemporary,Abstract
3,3,3,3,5.000 USD,Matthias Dornfeld,88.0,Blumenszene,2010,"Signed, titled and dated on the reverse with t...",This work is in excellent condition.There is m...,Contemporary,Abstract
4,4,4,4,2.500 USD,Alexis Marguerite Teplin,0.0,Feverish Embarkation,2001,Signed on verso,This work is in excellent condition.,Contemporary,Abstract
...,...,...,...,...,...,...,...,...,...,...,...,...
749,749,749,749,680 USD,Jane Kent,0.0,Miracle Grow #17,2012,Signed and dated on lower right.,Not examined out of frame.No obvious signs of ...,Contemporary,Abstract
750,750,750,750,1.275 USD,Gary Bower,0.0,Rolph Series,1970,[nan],Not examined out of frame.Significant undulati...,Contemporary,Geometric Abstraction
751,751,751,751,680 USD,Jane Kent,0.0,Untitled,2012,[nan],Not examined out of frame.No apparent imperfec...,Contemporary,Geometric Abstraction
752,752,752,752,1.275 USD,T. L. Solien,0.0,Juniper,1986,[nan],Not examined outside of frame.Pinholes at edge...,Contemporary,Abstract
753,753,753,753,680 USD,John Duff,0.0,Untitled Print,1975,"Signed, dated and numbered in pencil.",Not examined out of frame.Scattered surface sc...,Modern,Geometric Abstraction

In [132]:
movement_df = pd.get_dummies(df['movement'])
period_df = pd.get_dummies(df['period'])
movement_df.drop(columns='[nan]',inplace=True)
period_df.drop(columns='[nan]',inplace=True)

In [133]:
df.drop(columns='movement',inplace=True)
df.drop(columns='period',inplace=True)

In [134]:
df = df.join(movement_df)

In [135]:
df = df.join(period_df)

In [136]:
df

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,price,artist,fame,title,yearCreation,signed,condition,...,Realism,Romanticism,Social Realism,Street Art,Surrealism,Traditional,19th Century,Contemporary,Modern,Post-War
0,0,0,0,28.500 USD,Tommaso Ottieri,0.0,Bayreuth Opera,2021,Signed on verso,This work is in excellent condition.,...,0,0,0,0,0,0,0,1,0,0
1,1,1,1,3.000 USD,Pavel Tchelitchew,0.0,Drawings of the Opera,First Half 20th Century,Signed and titled,Not examined out of frame.No obvious signs of ...,...,0,0,0,0,1,0,0,0,0,1
2,2,2,2,5.000 USD,Leo Gabin,98.0,Two on Sidewalk,2016,"Signed, titled and dated on verso",This work is in excellent condition.,...,0,0,0,0,0,0,0,1,0,0
3,3,3,3,5.000 USD,Matthias Dornfeld,88.0,Blumenszene,2010,"Signed, titled and dated on the reverse with t...",This work is in excellent condition.There is m...,...,0,0,0,0,0,0,0,1,0,0
4,4,4,4,2.500 USD,Alexis Marguerite Teplin,0.0,Feverish Embarkation,2001,Signed on verso,This work is in excellent condition.,...,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
749,749,749,749,680 USD,Jane Kent,0.0,Miracle Grow #17,2012,Signed and dated on lower right.,Not examined out of frame.No obvious signs of ...,...,0,0,0,0,0,0,0,1,0,0
750,750,750,750,1.275 USD,Gary Bower,0.0,Rolph Series,1970,[nan],Not examined out of frame.Significant undulati...,...,0,0,0,0,0,0,0,1,0,0
751,751,751,751,680 USD,Jane Kent,0.0,Untitled,2012,[nan],Not examined out of frame.No apparent imperfec...,...,0,0,0,0,0,0,0,1,0,0
752,752,752,752,1.275 USD,T. L. Solien,0.0,Juniper,1986,[nan],Not examined outside of frame.Pinholes at edge...,...,0,0,0,0,0,0,0,1,0,0
753,753,753,753,680 USD,John Duff,0.0,Untitled Print,1975,"Signed, dated and numbered in pencil.",Not examined out of frame.Scattered surface sc...,...,0,0,0,0,0,0,0,0,1,0

In [137]:
df['yearCreation'] = pd.to_numeric(df['yearCreation'],errors = "coerce")
nan_count = df['yearCreation'].isna().sum().sum()
#print(nan_count) #104/753 = around 13.8 percent of data missing for years!
df['yearCreation'] = df['yearCreation'].fillna(df['yearCreation'].median()) #Fill it with the median, any better approaches?
df['yearCreation']

0      2021.0
1      1993.0
2      2016.0
3      2010.0
4      2001.0
        ...
749    2012.0
750    1970.0
751    2012.0
752    1986.0
753    1975.0
Name: yearCreation, Length: 754, dtype: float64

In [138]:
df['price'] = df['price'].str.replace("USD","") #Dropping the USD string so its just numbers
df['price'] = df['price'].str.replace(".","")
df['price'] = pd.to_numeric(df['price'])
df['price']

/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.

0      28500
1       3000
2       5000
3       5000
4       2500
       ...
749      680
750     1275
751      680
752     1275
753      680
Name: price, Length: 754, dtype: int64

In [139]:
from sklearn.feature_extraction.text import CountVectorizer
vectorizer = CountVectorizer()
condition = vectorizer.fit_transform(df['condition'])
condition

<754x747 sparse matrix of type '<class 'numpy.int64'>'
	with 10768 stored elements in Compressed Sparse Row format>

In [140]:
vectorizer.get_feature_names_out()

array(['005', '10', '1143', '1200', '124', '15', '170', '1940', '200',
       '25619', '27', '307', '40', '44', '4500', '63', '635', '6c13m',
       '89', '900', 'above', 'abraded', 'abrasion', 'abrasions',
       'accretion', 'accretions', 'across', 'additional', 'address',
       'adhered', 'adherence', 'adhesions', 'adhesive', 'affixed',
       'aforementioned', 'age', 'agfa', 'alexander', 'all', 'along',
       'although', 'an', 'and', 'annotated', 'another', 'anything', 'aoz',
       'apart', 'apparent', 'appear', 'appearance', 'appears',
       'application', 'appropriately', 'approximately', 'are', 'area',
       'areas', 'arm', 'around', 'art', 'artist', 'artminor', 'artwork',
       'as', 'aside', 'associated', 'at', 'attached', 'attributable',
       'away', 'b625', 'back', 'background', 'backing', 'bar', 'barbara',
       'be', 'been', 'bend', 'bernhard', 'between', 'black', 'blemish',
       'blind', 'blue', 'board', 'bois', 'book', 'both', 'bottom', 'bow',
       'bowed', 'bowing', 'box', 'break', 'bright', 'brown', 'buckling',
       'bumped', 'burn', 'but', 'by', 'cannot', 'canvas', 'card', 'care',
       'catalogue', 'caused', 'center', 'central', 'chip', 'chipping',
       'chips', 'chosen', 'chromogenic', 'cibachrome', 'circa',
       'circular', 'clamshell', 'clean', 'cleaning', 'close', 'closely',
       'cloth', 'cloudy', 'coat', 'collage', 'collection', 'color',
       'colored', 'colors', 'comb', 'come', 'commensurate', 'components',
       'composed', 'composition', 'compound', 'concentrated', 'condition',
       'conservation', 'consistent', 'contact', 'continuing', 'corner',
       'corners', 'corresponding', 'covered', 'covers', 'crack',
       'cracked', 'cracking', 'cracks', 'craquelure', 'crayon', 'crease',
       'creased', 'creases', 'creasing', 'crescent', 'cropped', 'crosses',
       'current', 'curving', 'damage', 'darkened', 'darkening', 'darker',
       'darkest', 'dated', 'decked', 'defects', 'dent', 'dents',
       'depending', 'deposit', 'deposits', 'designs', 'detected',
       'detract', 'developed', 'diagonal', 'did', 'dinged', 'direct',
       'dirt', 'dirty', 'discoloration', 'discolored', 'disruptions',
       'distortions', 'dm', 'do', 'does', 'dot', 'double', 'down',
       'drawing', 'drawings', 'dress', 'drip', 'drips', 'droplets', 'dry',
       'du', 'due', 'dull', 'during', 'dust', 'each', 'earlier', 'early',
       'edge', 'edges', 'editioned', 'effect', 'eggshell', 'elbow',
       'electrical', 'employee', 'emulsion', 'evidence', 'examination',
       'examined', 'examples', 'excellent', 'except', 'excess', 'exposed',
       'extending', 'extreme', 'fabric', 'fading', 'faint', 'faintly',
       'far', 'ferrotyped', 'festival', 'few', 'figure', 'filling',
       'fine', 'fingerprints', 'finish', 'fitted', 'flattened', 'floral',
       'fluoresce', 'flush', 'fold', 'following', 'for', 'forehead',
       'formation', 'former', 'four', 'foxing', 'frame', 'framed',
       'frames', 'framing', 'fraying', 'fresh', 'from', 'front',
       'functional', 'further', 'gelatin', 'generally', 'gently',
       'gilding', 'gilt', 'ginny', 'glass', 'glazing', 'glossy', 'gold',
       'good', 'gouache', 'gouge', 'gouges', 'graham', 'graphite',
       'grassi', 'gray', 'green', 'greens', 'guidelines', 'haas', 'hair',
       'hairline', 'half', 'hand', 'handling', 'hands', 'hang', 'hanging',
       'hardening', 'hardware', 'has', 'hat', 'have', 'her', 'high',
       'hindquarters', 'hinge', 'hinged', 'hinges', 'hole', 'holes',
       'horizontal', 'horse', 'however', 'hung', 'illustration', 'image',
       'immediately', 'impasto', 'imperfection', 'imperfections',
       'impressions', 'in', 'inc', 'inch', 'inches', 'including',
       'inconsistencies', 'indentation', 'indentations', 'independent',
       'inherent', 'ink', 'inked', 'inpainting', 'inscription',
       'inscriptions', 'inside', 'inspected', 'inspection',
       'interconnected', 'is', 'isolated', 'issued', 'it', 'its', 'joint',
       'label', 'laminate', 'large', 'largest', 'layer', 'layers',
       'leather', 'left', 'length', 'light', 'lightly', 'likely', 'line',
       'linear', 'lined', 'lines', 'lining', 'liquid', 'long', 'longest',
       'loose', 'loss', 'losses', 'lower', 'lush', 'made', 'man', 'map',
       'marco', 'margin', 'margins', 'mark', 'marked', 'marker',
       'markings', 'marks', 'martha', 'mat', 'material', 'materials',
       'matt', 'matte', 'matting', 'may', 'measure', 'measures',
       'measuring', 'media', 'mended', 'metal', 'middle', 'mild',
       'milieu', 'minimal', 'minor', 'misaligned', 'missing', 'miter',
       'mitered', 'mixed', 'moderate', 'more', 'morgan', 'most', 'motifs',
       'mottled', 'mount', 'mounted', 'mounting', 'mounts', 'nan',
       'natural', 'nature', 'near', 'nearly', 'network', 'new', 'nick',
       'nicks', 'no', 'none', 'nor', 'not', 'notations', 'note',
       'noticeable', 'numerical', 'numerous', 'observations', 'observed',
       'obvious', 'occasional', 'of', 'off', 'offered', 'oil', 'old',
       'on', 'one', 'online', 'only', 'or', 'original', 'ornament',
       'other', 'otherwise', 'out', 'outer', 'outside', 'overall',
       'overmat', 'oxidation', 'p74', 'paint', 'painting', 'pale',
       'paper', 'parallel', 'parkes', 'part', 'peeling', 'pencil',
       'pendant', 'pene', 'perimeter', 'periphery', 'photo', 'photograph',
       'photographed', 'photographer', 'picture', 'piece', 'pieces',
       'pigment', 'pigments', 'pin', 'pindots', 'pinhole', 'pinholes',
       'pitting', 'please', 'plexiglas', 'plexiglass', 'ply', 'plywood',
       'poor', 'portfolio', 'possible', 'possibly', 'post',
       'predominately', 'presented', 'previous', 'previously',
       'primarily', 'print', 'printed', 'printing', 'prints', 'procedure',
       'process', 'processing', 'prominently', 'pronounced', 'proper',
       'property', 'provided', 'publisher', 'puncture', 'quadrant',
       'quality', 'quite', 'raking', 'rb021', 'rb062', 'rb124', 'rb138',
       'rb147', 'rb246', 'read', 'reads', 'ready', 'register', 'relined',
       'remain', 'remnants', 'repaired', 'report', 'reproduction',
       'residue', 'resting', 'restoration', 'restored', 'restorer',
       'result', 'retains', 'retouch', 'retouched', 'retouches',
       'retouching', 'reveal', 'reverse', 'rich', 'right', 'ripple',
       'rippled', 'rippling', 'rock', 'rubbing', 'rust', 'ruth', 'saddle',
       'same', 'saturated', 'satyric', 'scattered', 'scrape', 'scrapes',
       'scratch', 'scratched', 'scratches', 'scratching', 'screen',
       'screenprints', 'scuff', 'scuffed', 'scuffs', 'seam', 'seams',
       'secondary', 'secured', 'semi', 'separation', 'settings',
       'several', 'shades', 'shadow', 'shallow', 'shaped', 'sharp',
       'sheen', 'sheet', 'should', 'shoulder', 'show', 'shows', 'side',
       'sides', 'sign', 'signature', 'signed', 'significant', 'signs',
       'silver', 'silvering', 'similar', 'simon', 'since', 'size', 'sky',
       'sleeve', 'slight', 'slightly', 'slipped', 'slipping', 'small',
       'smudge', 'smudges', 'soft', 'soiled', 'soiling', 'solarized',
       'some', 'somewhat', 'son', 'song', 'sotheby', 'sound', 'sp',
       'spot', 'spots', 'spotting', 'stable', 'stain', 'staining',
       'stains', 'stamp', 'stapled', 'state', 'sticky', 'stretcher',
       'stretchers', 'string', 'strongly', 'structurally', 'studio',
       'subway', 'suggest', 'suggesting', 'superficial', 'support',
       'surface', 'surrounding', 'tablecloth', 'tacked', 'tacky', 'tape',
       'taped', 'tear', 'tears', 'tenting', 'that', 'the', 'there',
       'these', 'they', 'thick', 'thin', 'this', 'three', 'through',
       'throughout', 'tiny', 'tissue', 'titled', 'to', 'together',
       'toned', 'toning', 'top', 'torn', 'total', 'translucent',
       'transparency', 'tree', 'trimmed', 'trunk', 'two', 'ultraviolet',
       'unaffixed', 'under', 'undualtion', 'undulation', 'undulations',
       'uneven', 'unframed', 'unidentified', 'unique', 'unlined',
       'unpainted', 'unusual', 'up', 'upon', 'upper', 'upward', 'use',
       'used', 'using', 'uv', 'varnish', 'varnished', 'vary', 'verso',
       'vertical', 'very', 'vibrant', 'visible', 'warm', 'warping', 'was',
       'water', 'watercolor', 'wax', 'wear', 'weight', 'well', 'when',
       'where', 'which', 'while', 'white', 'who', 'width', 'will',
       'williams', 'window', 'wire', 'with', 'within', 'wood', 'work',
       'working', 'works', 'worn', 'wrapped', 'wrinkles', 'written',
       'yellowed', 'yellowing', 'york'], dtype=object)

In [141]:
print(condition.toarray())

[[0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]
 ...
 [0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]]

In [142]:
condition_labels = pd.DataFrame(condition.toarray(),columns=vectorizer.get_feature_names())
condition_labels

/home/cdsw/.local/lib/python3.7/site-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,005,10,1143,1200,124,15,170,1940,200,25619,...,work,working,works,worn,wrapped,wrinkles,written,yellowed,yellowing,york
0,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,2,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
749,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
750,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
751,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
752,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
753,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [143]:
from sklearn.feature_extraction.text import CountVectorizer
vectorizer2 = CountVectorizer()
signed = vectorizer2.fit_transform(df['signed'])
signed

<754x501 sparse matrix of type '<class 'numpy.int64'>'
	with 4175 stored elements in Compressed Sparse Row format>

In [144]:
vectorizer2.get_feature_names_out()

array(['00', '02', '05', '08', '10', '100', '105', '11', '12', '129',
       '14', '15', '16', '17', '18', '1892', '1911', '1921', '1946',
       '1959', '1962', '1964', '1965', '1971', '1975', '1976', '1979',
       '1980', '1981', '1985', '1986', '1987', '1988', '1989', '1990',
       '1991', '1993', '1998', '20', '2000', '2001', '2002', '2003',
       '2005', '2010', '2011', '2012', '2016', '21', '22', '25', '26',
       '27', '29', '2982', '30', '301', '31', '33', '33600j', '35', '367',
       '37', '471', '50', '50th', '60', '71', '74', '75', '76', '77',
       '78', '79', '80', '81together', '85', '86', '87', '89', '90',
       '94115', '97', '98', '99', 'accompanied', 'acrylic', 'ad',
       'affixed', 'afternoon', 'again', 'alaskan', 'albert', 'alex',
       'ali', 'all', 'along', 'also', 'amadee', 'amedeo', 'and',
       'annotated', 'annotation', 'ap', 'apel', 'archive', 'art',
       'artist', 'ashforth', 'ashworth', 'at', 'attached', 'aug',
       'authenticity', 'ax', 'back', 'backing', 'bankston', 'bar',
       'barbara', 'base', 'bassot', 'beach', 'beal', 'bears', 'bellany',
       'bemelmans', 'bernstein', 'besse', 'bii', 'bill', 'billy',
       'blindstamped', 'block', 'bloomer', 'blue', 'blum', 'bois',
       'bonakdar', 'bottom', 'braun', 'brian', 'bruce', 'building', 'by',
       'ca', 'california', 'campbell', 'canvas', 'capitals', 'carl',
       'carlsen', 'carnegie', 'case', 'center', 'certificate', 'charles',
       'chops', 'christopher', 'clark', 'clay', 'code', 'collection',
       'colophon', 'comb', 'commonwealth', 'copyright', 'copyrighted',
       'cornelissen', 'corner', 'costan', 'coupe', 'couzy', 'crane',
       'credit', 'crozier', 'date', 'dated', 'david', 'davies', 'davis',
       'dawn', 'de', 'denise', 'derek', 'di', 'dibond', 'dkc', 'doherty',
       'dolls', 'donna', 'drawing', 'du', 'dyf', 'each', 'ecornelissen',
       'edge', 'edition', 'editioned', 'elrod', 'emaillÃ©', 'embossed',
       'engraved', 'ennis', 'estate', 'et', 'etienne', 'evergood', 'ex',
       'far', 'fetherolf', 'fine', 'fischl', 'flip', 'for', 'ford', 'fox',
       'frame', 'frances', 'francis', 'francisco', 'frank', 'frasconi',
       'fred', 'frederick', 'freya', 'frid', 'from', 'front', 'fruits',
       'fx', 'galerie', 'gallery', 'gary', 'gillian', 'graham', 'grant',
       'graphite', 'green', 'gregory', 'guhrs', 'gundelfinger', 'gutzeit',
       'guy', 'haas', 'hacking', 'hambleton', 'hand', 'hankey', 'hanlyn',
       'hansell', 'happy', 'hardesty', 'hartman', 'hastings', 'hawes',
       'he', 'head', 'heebner', 'hellenic', 'hellermann', 'henry', 'hill',
       'hine', 'hirst', 'his', 'horst', 'hoyland', 'hudson', 'huxley',
       'ii', 'illegibly', 'image', 'in', 'incorporated', 'indecipherable',
       'indian', 'initialed', 'ink', 'inscribed', 'interpretive',
       'inventory', 'ippolito', 'is', 'island', 'jack', 'jacobshagen',
       'james', 'jannetti', 'janowich', 'jenkins', 'joan', 'john',
       'joseph', 'jr', 'juli', 'julia', 'jumble', 'jx', 'kate', 'katz',
       'keller', 'kenny', 'kill', 'killyan', 'king', 'kooning', 'kushner',
       'label', 'labels', 'laske', 'lawrence', 'lee', 'left', 'leonardo',
       'lettered', 'levy', 'lewis', 'light', 'linda', 'lisson', 'list',
       'lococo', 'london', 'love', 'lower', 'lucy', 'maghaui', 'manager',
       'manes', 'margin', 'mark', 'marked', 'marker', 'martha', 'mary',
       'massachusetts', 'mat', 'maurice', 'maze', 'mazur', 'mclean',
       'meeker', 'mellor', 'michael', 'mickey', 'micki', 'mid', 'middle',
       'mitchell', 'mock', 'mont', 'morris', 'moses', 'mount', 'mp',
       'name', 'nan', 'nancy', 'nelson', 'new', 'nice', 'no',
       'noffsinger', 'norman', 'numbered', 'ode', 'of', 'oil', 'olav',
       'on', 'one', 'only', 'or', 'page', 'paint', 'palisades', 'palm',
       'paper', 'paris', 'parkinson', 'partially', 'pastel', 'paul',
       'peace', 'pen', 'pencil', 'pendant', 'peter', 'philip',
       'photographer', 'photographs', 'photography', 'piece', 'pigment',
       'pilat', 'plaque', 'plate', 'porter', 'portfolio', 'postcard',
       'printed', 'printer', 'proof', 'publisher', 'pÃ¨ne', 'ra', 'recto',
       'rectoinscribed', 'rector', 'red', 'reverse', 'reverseii',
       'reverseiii', 'richard', 'right', 'robert', 'rogers', 'roma',
       'ron', 'ry', 'ry2008', 'sallick', 'sam', 'san', 'scalfani',
       'schouten', 'schreyer', 'schroth', 'schulke', 'schwartz', 'seal',
       'sequentially', 'sfm83', 'shaw', 'side', 'signature', 'signed',
       'silver', 'silvery', 'simonetti', 'singed', 'situated', 'soloman',
       'son', 'sophie', 'sorman', 'st', 'stamp', 'stamped', 'steven',
       'stevens', 'sticker', 'stolle', 'stonehenge', 'storey', 'storms',
       'street', 'stretcher', 'studio', 'sullivan', 'sw', 'tanya',
       'thanks', 'the', 'three', 'tilson', 'title', 'titled', 'to',
       'tony', 'top', 'towards', 'true', 'trujillo', 'truman', 'under',
       'upper', 'vath', 'verso', 'vic', 'vintage', 'von', 'wait',
       'walter', 'wardy', 'watrous', 'wegman', 'weiner', 'west', 'white',
       'whiteford', 'widow', 'wildlife', 'william', 'with', 'wm', 'work',
       'working', 'written', 'york'], dtype=object)

In [145]:
signed_labels = pd.DataFrame(signed.toarray(),columns=vectorizer2.get_feature_names())
signed_labels

/home/cdsw/.local/lib/python3.7/site-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,00,02,05,08,10,100,105,11,12,129,...,whiteford,widow,wildlife,william,with,wm,work,working,written,york
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
749,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
750,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
751,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
752,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
753,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [146]:
df.drop(columns='signed',inplace=True)
df.drop(columns='condition',inplace=True)
df.drop(columns='artist',inplace=True)

In [147]:
signed_labels = signed_labels.astype(int)
condition_labels = condition_labels.astype(int)

In [148]:
df = df.join(condition_labels)

In [149]:
df

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,price,fame,title,yearCreation,Abstract,Abstract Expressionism,Art Brut,...,work,working,works,worn,wrapped,wrinkles,written,yellowed,yellowing,york
0,0,0,0,28500,0.0,Bayreuth Opera,2021.0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
1,1,1,1,3000,0.0,Drawings of the Opera,1993.0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
2,2,2,2,5000,98.0,Two on Sidewalk,2016.0,1,0,0,...,1,0,0,0,0,0,0,0,0,0
3,3,3,3,5000,88.0,Blumenszene,2010.0,1,0,0,...,2,0,0,0,0,0,0,0,0,0
4,4,4,4,2500,0.0,Feverish Embarkation,2001.0,1,0,0,...,1,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
749,749,749,749,680,0.0,Miracle Grow #17,2012.0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
750,750,750,750,1275,0.0,Rolph Series,1970.0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
751,751,751,751,680,0.0,Untitled,2012.0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
752,752,752,752,1275,0.0,Juniper,1986.0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
753,753,753,753,680,0.0,Untitled Print,1975.0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [150]:
df = df.join(signed_labels,lsuffix="_left", rsuffix="_right", how='right')

In [151]:
df = df.drop(df.columns[[0, 1, 2,5]],axis = 1)

In [152]:
df

,price,fame,yearCreation,Abstract,Abstract Expressionism,Art Brut,Art Deco,Art Nouveau,Baroque,Conceptual,...,whiteford,widow,wildlife,william,with_right,wm,work_right,working_right,written_right,york_right
0,28500,0.0,2021.0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
1,3000,0.0,1993.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,5000,98.0,2016.0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,5000,88.0,2010.0,1,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
4,2500,0.0,2001.0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
749,680,0.0,2012.0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
750,1275,0.0,1970.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
751,680,0.0,2012.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
752,1275,0.0,1986.0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
753,680,0.0,1975.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [161]:
from sklearn.model_selection import train_test_split
X = df.loc[:, ~df.columns.isin(['artist', 'title', 'signed','condition','title_left','price'])]
Y = df["price"]
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.2)

In [162]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error
regr = RandomForestRegressor(max_depth=20, random_state=0)
regr.fit(X_train,y_train)
print("Training Score: ",regr.score(X_train,y_train))
print("Testing Score: ",regr.score(X_test,y_test))
print("Testing Mean Absolute Error: ", mean_absolute_error(y_test,regr.predict(X_test)))

Training Score:  0.8927311949833197
Testing Score:  0.2566512358100401
Testing Mean Absolute Error:  3071.878462468827

In [163]:
import numpy as np
importances = regr.feature_importances_
sorted_indices = np.argsort(importances)[::-1]
 
feat_labels = df.columns[1:]
 
for f in range(40):
    print("%2d) %-*s %f" % (f + 1, 10,
                            feat_labels[sorted_indices[f]],
                            importances[sorted_indices[f]]),"index: ",df.columns.get_loc(str(feat_labels[sorted_indices[f]])))

 1) fame       0.124871 index:  1
 2) occasional 0.107238 index:  478
 3) Photorealism 0.070055 index:  24
 4) yearCreation 0.065128 index:  2
 5) red        0.059889 index:  1197
 6) Pop Art    0.058866 index:  25
 7) norman     0.055948 index:  1151
 8) vath       0.017984 index:  1265
 9) that       0.017840 index:  698
10) impressions 0.017696 index:  361
11) richard    0.015565 index:  1201
12) thin       0.013791 index:  704
13) oil_left   0.013485 index:  482
14) thanks     0.013385 index:  1250
15) mixed      0.013216 index:  446
16) Abstract Expressionism 0.012340 index:  4
17) examples   0.012272 index:  265
18) provided   0.012168 index:  553
19) amedeo     0.010974 index:  886
20) foxing     0.010721 index:  297
21) dinged     0.010675 index:  224
22) bonakdar   0.009255 index:  925
23) lee        0.008886 index:  1099
24) working_left 0.008052 index:  778
25) fresh      0.007810 index:  303
26) dyf        0.007809 index:  980
27) date       0.007790 index:  963
28) Contemporary 0.007467 index:  37
29) Conceptual  0.006663 index:  9
30) examination 0.006383 index:  263
31) olav       0.005735 index:  1156
32) wood       0.005564 index:  776
33) under_right 0.005524 index:  1263
34) from_right 0.005312 index:  1014
35) du_right   0.005043 index:  979
36) ra         0.004846 index:  1193
37) be         0.004534 index:  117
38) Realism    0.004498 index:  30
39) art_right  0.004461 index:  893
40) building   0.004229 index:  930

In [164]:
from sklearn.linear_model import LinearRegression
import numpy as np
regr = LinearRegression()
regr.fit(X_train,y_train)
print("Training Score: ",regr.score(X_train,y_train))
print("Testing Score: ",regr.score(X_test,y_test))
print("Testing Mean Absolute Error: ", mean_absolute_error(y_test,regr.predict(X_test)))

Training Score:  0.5541669884777928
Testing Score:  -6.710022526523216
Testing Mean Absolute Error:  14553.908692708004

In [165]:
from sklearn.neighbors import KNeighborsRegressor
regr = KNeighborsRegressor()
regr.fit(X_train,y_train)
print("Training Score: ",regr.score(X_train,y_train))
print("Testing Score: ",regr.score(X_test,y_test))
print("Testing Mean Absolute Error: ", mean_absolute_error(y_test,regr.predict(X_test)))

Training Score:  0.3637762167948779
Testing Score:  -0.013745124106342654
Testing Mean Absolute Error:  4797.854304635762

In [166]:
# import libraries
from sklearn.feature_selection import RFE

# define RFE
rfe = RFE(estimator=RandomForestRegressor(max_depth=20, random_state=0),n_features_to_select=15)
# fit RFE
rfe.fit(X, Y)

RFE(estimator=RandomForestRegressor(max_depth=20, random_state=0),
    n_features_to_select=15)

In [167]:
forest = RandomForestRegressor(max_depth=20, random_state=0)
_ = forest.fit(rfe.transform(X_train), y_train)
print("Training Score: ",forest.score(rfe.transform(X_train),y_train))
print("Testing Score: ",forest.score(rfe.transform(X_test),y_test))
print("Testing Mean Absolute Error: ", mean_absolute_error(y_test,forest.predict(rfe.transform(X_test))))

Training Score:  0.8848602594339088
Testing Score:  0.17578211610545946
Testing Mean Absolute Error:  3307.5716269283275

In [168]:
import numpy as np
importances = forest.feature_importances_
sorted_indices = np.argsort(importances)[::-1]
 
feat_labels = df.columns[1:]
 
for f in range(15):
    print("%2d) %-*s %f" % (f + 1, 10,
                            feat_labels[sorted_indices[f]],
                            importances[sorted_indices[f]]),"index: ",df.columns.get_loc(str(feat_labels[sorted_indices[f]])))

 1) fame       0.184862 index:  1
 2) yearCreation 0.145194 index:  2
 3) Art Nouveau 0.133943 index:  7
 4) Abstract Expressionism 0.078284 index:  4
 5) Expressionism 0.074199 index:  12
 6) Feminist Art  0.071030 index:  13
 7) Abstract   0.070493 index:  3
 8) Conceptual  0.042495 index:  9
 9) Impressionism 0.042036 index:  15
10) Baroque    0.040333 index:  8
11) Geometric Abstraction 0.033721 index:  14
12) Cubism     0.023724 index:  10
13) Art Brut   0.021485 index:  5
14) Environmental Art 0.020248 index:  11
15) Art Deco   0.017954 index:  6

In [169]:
print(X.shape[1])

1286

In [170]:
from joblib import dump, load
dump(forest, 'ArtNum.joblib')

['ArtNum.joblib']

In [1]:
print("The model complexity has been greatly reduced using recursive feature elimination from 1286 features down to 15 features. However the simplified model estimation is around 300 dollars worse which is about 10 percent worse.")

The model complexity has been greatly reduced using recursive feature elimination from 1286 features down to 15 features. However the simplified model estimation is around 300 dollars worse which is about 10 percent worse.